#pentacomp_token_gen{
  .gen-number-area{
    .form-item.form-item-zid {
      margin-bottom: 0px;
      margin-left: 2px;
    }

  }
 
  .mpen-1{
    margin: 0 1em 0.5em;
  }

  .gen-value{
    .red{ color: red;}
    .green{ color: green;}
    .orange{ color: orange;}
  }
}

